.total-conatiner{
    /* width:100%; */
    background-color: #3B3B3B;
    position: relative;
    padding: 1rem;
    width: 100vw;
} 
.expense-linechart-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 4rem; */
    flex-direction: row;
}